html{
	font-size: 16px;
}

header{
	background: url(Images/bg.png) top left no-repeat;
	background-size: cover;
	height: 35px;
	width: 100%;
}

header nav a{
	text-decoration: none;
	color: white;
	display: block;
	float: left;
	height: 16px;
	padding: 10px 8px 9px 10px;
	background: #3678af; /* blue */
}

header nav a:not(:last-of-type){
	border-right: 2px solid rgba(0,84,153,.75);
}

header nav a img{ /* to fix the smaller height of 'mail' image */
	height: 16px;
	width: 16px;
	object-fit: none;
}


header nav a:hover, header .right_menu .right_menu_item:hover, #exit-button:hover{
	background: #e03838; /* pale red */
	cursor: pointer;
}

header nav a:hover .badge{
	background: white;
	color: #f3282c; /* red */
}

.badge{
	font-size: 10px;
	line-height: 19px;
	text-align: center;
	display: inline-block;
	position: relative;
	top: -5px;
	left: -4px;
	padding: 0 7px;
	border-radius: 100%;
	background: #f3282c; /* red */
}

header .right_menu .right_menu_item{
	color: white;
	display: block;
	float: right;
	height: 16px;
	padding: 10px 9px 9px 10px;
	background: #3678af; /* blue */
}

header .right_menu .right_menu_item:not(:last-of-type){
	border-left: 2px solid rgba(0,84,153,.75);
}

#exit-button{
	background: #2F2F35;
}

.right_menu_item span{
	padding: 0 20px 0 16px;
	line-height: 16px;
	position: relative;
	top: -3px;
}